.codesnippet-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1000;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100vw;
    min-height: 100svh;
    overflow-x: hidden;
    backdrop-filter: blur(5px) brightness(0.4);

}

.codesnippet-modal{
    .resizeable-component{
        border-radius: 12px;
        min-width: 270px;
        width: 100%;
        display: flex;
        justify-content: center;
        min-height: 100% !important;
        align-items: center;
    }
    
    .codesnippet-div{
        width: min-content;
        max-width: 100%;
        max-height: 100% !important; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 240px;
    }

    .codesnippet-div.rounded-all .CodeMirror{
        border-radius: 13px 13px 13px 13px !important; 
    }
    .codesnippet-div.rounded-bottom .CodeMirror{
        border-radius: 0px 0px 13px 13px !important;
    }
    
    .react-codemirror2{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        box-shadow: rgba(17, 17, 26, 0.3) 0px 4px 16px, rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 56px;
        height: 100%;
        width: 100%;
        border-radius: 12px;
    }

    .titlebar{
        display: flex;
        align-items: center;
        padding: 9px;
        border-radius: 12px 12px 0px 0px;
        background-color: rgb(33, 37, 41);
        height:40px;
        min-width: 240px;
        width: 100%;
    }

    .titlebar .mac-icon{
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }

    .titlebar .mac-iconbar{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    padding-left: 6px;
    }

    .CodeMirror{
        border-radius: 13px;
        padding: 6px;
        max-height: 100% !important;
        height: 100%;
        max-width: 100%;
    }
    
    .react-codemirror2.has-titlebar .CodeMirror
    {
        border-radius: 0px 0px 13px 13px;
    }

    .top-resize{
        height: 6px !important;
        border-radius: 12px;
    }
    .bottom-resize{
        height: 6px !important;
        border-radius: 12px;
    }
    .left-resize{
        width: 6px !important;
        border-radius: 12px;
    }
    .right-resize{
        width: 6px !important;
        border-radius: 12px;
    }

    .resize:hover, .resize:active{
        background-color: rgba(255, 255, 255, 0.6);
        border: 2px solid black;
    }
    .selected{
        border: 0.8px solid rgb(73, 80, 87);
        border-radius: 6px 6px 0px 0px;
        background-color: rgb(33, 37, 41);
    }
    .not-selected:hover{
        border-radius: 6px 6px 0px 0px;
        background-color: rgba(57, 57, 57, 0.6);
    }
}

.w-16px{
    box-sizing: border-box;
    width: 16px !important;
    height:16px !important;
    margin-left: 2px;
}