@media screen and (max-width: 768px) {
    .resizeBar{
  
      display: none;
    }
  }
  
  .resizeBar {
    height: 95%;
    width: 7px;
    position: absolute;
    right: -4px;
    top:-5px;
    background-color: rgba(255, 255, 255, 0.03);
    cursor: w-resize;
    border-radius: 20px;
    transform: translateY(5%);
    z-index: 100;
  }
  .resizeBar:hover {
    background-color: rgb(93, 93, 93);
  }